nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Estilos para la sección del héroe */
  .hero {
    background-image: url('hero-image.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px 0;
    text-align: center;
  }
  
  .hero-content {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #666;
  }
  
  /* Estilos para la sección de características */
  .features {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0
  }  